@import './Variables';


.names{
    display: flex;
    justify-content:center;
    align-items: center;
    color: $purple;
    padding-bottom: 10px;
    border-bottom: 5px solid $lavender;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.linked {
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    color: $black;
    font-weight: 600;
    font-size: 20px;
    transition-property: font-size, font-weight;
    transition-duration: 1s;
}

.linked:hover {
    transition-property: font-size, font-weight;
    transition-duration: 1s;
    font-weight: 700;
    font-size: 40px;
    color: $yellow;
}
