@import './Variables.scss';

.title {
    color: $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-bottom: 10px solid $lavender;
    padding-bottom: 10px;
    padding-top: 10px;
}

.message {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purple;
    margin: 30px;
}

.carousel img, .carousel h3, .carousel p, .carousel button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.carousel {
    background-color: $lavender;
    max-width: 600px;
    margin: auto;
    height: 400px;
}

.carousel-indicators button
{
  width : 15px!important;
  height: 15px !important;
  border-radius: 100%;
  margin: 5px !important;
}
.carousel-control-prev-icon{
    color: $yellow;
}
h3 {
    
    color: $black;
}

button.btn {
    border:solid $lavender;
    background-color: $purple;
}

button.btn:hover{
    border:solid $blue;
    background-color: $blue;
    color: $black;
}

button.delete, button.Edit{
    width: 100px;
}

button.delete:hover {
    border:solid rgb(212, 71, 71);
    background-color: rgb(212, 71, 71);
    color: white;
}

button.btn.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

.sideButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    color: whitesmoke;
    width: 10vw;
    background-color: $purple;
    border-radius: 10px;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}